body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/backgrounds/4.8.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

#resetButton, #randomizeButton, #filterButton {
    position: relative;
    z-index: 1000;
}

.grid-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-column-center-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* 子元素水平居中 */
    /* margin: 0 20px; */
    margin-top: 120px;
}

.grid-column-center.center-column {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; /* 子元素水平居中 */
    /* margin: 0 20px; */
    margin-top: 50px;
    margin-bottom: 120px;
}

.grid-row, .grid-column {
    display: flex;
}

.grid-row {
    flex-direction: row;
}

.grid-column {
    flex-direction: column;
    margin: 0 20px;
    margin-top: 120px;
}

.grid-item, .grid-item-center {
    width: 160px;
    height: 90px;
    margin: 5px;
    position: relative;
    border: 2px dashed #4e4040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-row {
    width: 160px;
    height: 90px;
    margin: 5px;
    position: relative;
    border: 2px dashed #4e4040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    height: auto;
    z-index: 15;
}

.grid-item-center img {
    height: auto;
    z-index: 15;
}

.grid-item-row img {
    height: auto;
    z-index: 15;
}

#image-options {
    display: flex;
    flex-wrap: wrap;            /* 允许内容自动换行 */
    width: 100%;                /* 容器宽度 */
    height: 290px;              /* 固定高度, 可存放三排图片，根据图片高度调整 */
    overflow-y: auto;           /* 超出部分垂直滚动 */
    align-items: flex-start;    /* 顶部对齐，防止行高不一致时内容中断 */
    padding: 10px;               /* 添加内边距 */
    gap: 10px;                   /* 设置图片间距 */
}

#image-options img {
    width: 90px;
    height: auto;
    cursor: grab;
}

.ban-text, .pick-text, .utility-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 10;
}

.ban-text, .utility-text {
    color: #4e4040;
    font-size: 1.25em;
}

.pick-text {
    font-size: 1.25em;
}

.grid-column.left1 .pick-text, .grid-column.left2 .pick-text, .left-text {
    color: #5191c2;
}

.grid-column.right1 .pick-text, .grid-column.right2 .pick-text, .right-text {
    color: #df5757;
}

.drop-zone {
    position: relative;
}

.drop-zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 保证图片填充整个容器但不失真 */
}

.grid-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-top: 105px;
}

.selector-container {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    font-size: 1em;
    height: 60px;
    width: 100%;
}

.side-text {
    position: absolute;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8em;
    height: 60px;
    width: 100%;
}

.team-member-input {
    position: absolute;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: inherit;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 160px;
    min-height: 80px;
    height: auto;
    resize: none;
    font-size: 1.5em;
    font-weight: bold;
}

.team-member-input:focus {
    outline: none;
}

/* 为所有元素添加红色边框 */
/* * {
    border: 1px solid red;
} */